@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{font-family: 'Nanum Gothic';}
@charset "EUC-KR";
a{
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #bbbbbb;
	text-decoration: none;
	cursor: pointer;
}
.list-group > #li1_hj > a {
	padding : 100px 0px;
	
}
	#ul1 {
	
	}
	#sr {
	width: 150px;
	}
	.textstyle {
		font-size: 14pt; line-height: 20pt; margin:10px;
	}
	.colorchange {
		background-color: yellow;
	}
	#li1_hj > img{
	width: 200px; 
	margin-left : 100px;
	}
	#li1_hj{
	list-style: none; float: left;
	}
	#li1_hj{
	list-style: none;
	}
	#li2_hj{
	list-style: none;
	}
	.a{
		text-align: center;
		margin : 0 auto;
	}
	#sr_hj{
	width: 500px; 
	
	}
