<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="join">

	<!--회원가입 ... DB에 회원정보 저장 -->
	<insert id="join" parameterType="mem">
		insert into user_info (user_num, user_id, nickname, pwd, name, sex, birth, birth_hh, birth_mm, saju_year, saju_mon, saju_day, ilju, email, user_img, user_intro, user_mbti, user_height, user_loc, user_body) 
		values(user_num_seq.nextval, #{user_id}, #{nickname}, #{pwd}, #{name}, #{sex}, #{birth}, #{birth_hh}, #{birth_mm}, #{saju_year}, #{saju_mon}, #{saju_day}, #{ilju}, #{email}, #{user_img}, #{user_intro}, #{user_mbti}, #{user_height}, #{user_loc}, #{user_body})
	</insert>
	<insert id="idaelinsert" parameterType="ideal">
		insert into ideal_type values(#{user_num}, #{ideal_height}, #{ideal_age}, #{ideal_body})
	</insert>
	<insert id= "gradeInit" parameterType="hashMap">
		insert into mapping_grade_user values('${user_id}', '${grade}')
	</insert>
	<insert id= "chatTicket" parameterType="hashMap">
		insert into basic_chat_count values('${user_id}', '${left_count}')
	</insert>
	
	<select id="selc_user_num" parameterType="String" resultType="int">
		select user_num from user_info where user_id=#{user_id}
	</select>
	<!-- 닮은연예인 추가 -->
   <insert id="looklike" parameterType="java.util.Map">
   INSERT INTO lovetype VALUES (#{user_num},#{looklike},#{percent})
   </insert>
	
	
		<!-- 회원가입 시 프로필 입력 -->
<!-- 	<update id="joinprofile" parameterType="mem">
		update user_info set user_img=#{user_img}, user_intro=#{user_intro} where user_num=#{user_num}
	</update> -->
		<!-- 회원가입시 일주 -->
	<select id="ilju" parameterType="mem" resultType="String">
		select distinct ilju from sajuinfo where saju_year=#{saju_year} and saju_mon=#{saju_mon} and saju_day=#{saju_day}	
	</select>
	
		<!-- 아이디중복체크 -->
	<select id="idchk" parameterType="String" resultType="int">
		select count(*) from user_info where user_id=#{id}
	</select>
	
	<!-- 별명 중복 체크 -->
	<select id="nickchk" parameterType="String" resultType="int">
		select count(*) from user_info where nickname=#{nickname}
	</select>
	
		<!-- 이메일 중복 체크 -->
	<select id="emailchk" parameterType="String" resultType="int">
		select count(*) from user_info where email=#{email}
	</select>
	
<!-- 닮은연예인 추가 -->
   <insert id="looklike" parameterType="java.util.Map">
   INSERT INTO lovetype VALUES (#{user_num},#{looklike},#{percent})
   </insert>

</mapper>
