<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="member">
 <select id="login" parameterType="mem" resultType="mem">
	select count(*) cnt, user_num, name from user_info where user_id=#{user_id} and pwd=#{pwd} group by user_num
 </select>
</mapper>
