@charset "EUC-KR";

.button {

    width:100px;

    background-color: #FFD8D8;

    border: none;

    color:#fff;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

	margin: 0 auto;
	
    cursor: pointer;
    
    border-radius:10px;

}
.button:hover {
    background-color: #FAE0D4;
}


img {
    max-width: 100%;
    height: auto;
}
.single-team {
	
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    color: #515656;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.single-team:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.single-team .team-photo {
    margin-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.single-team .team-photo img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.single-team:hover .team-photo img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.single-team h4 {
    text-transform: uppercase;
}

.single-team h6 {
    margin-bottom: 20px;
}

.single-team .social-menu {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    padding: 23px 10px;
    background-color: #ffffff;
}

.single-team:hover .social-menu {
    bottom: 0;
}